<Project>
  <PropertyGroup>
    <ServiceWorker>$(MsBuildProjectDirectory)\wwwroot\ServiceWorker.js</ServiceWorker>
  </PropertyGroup>
  <Target Name="CreatePWA" AfterTargets="AfterBuild" Condition="'$(PWAType)'!='' AND '$(PWACacheName)'!='' AND '$(PWACacheVersion)'!='' AND (!Exists('$(ServiceWorker)') Or '$(ServiceWorkerForce)'=='true')">
    <Message Importance="high" Text="Building PWA: Type: $(PWAType) CacheName: $(PWACacheName) CacheVersion: $(PWACacheVersion)"/>
    <PropertyGroup>
      <CacheLine>const staticCacheName = '$(PWACacheName)-v$(PWACacheVersion)'%3B</CacheLine>
    </PropertyGroup>
    <ItemGroup>
      <DistFiles Include="$(OutputPath)\dist\**\*.*;" />
      <DistFiles Include="$(MsBuildProjectDirectory)\wwwroot\**\*.*;" />
      <TemplateLines Include="$([System.IO.File]::ReadAllText($(MsBuildProjectDirectory)\PWA\ServiceWorkerTemplate$(PWAType).js))"/>
    </ItemGroup>
    <WriteLinesToFile File="$(ServiceWorker)" Overwrite="true" Lines="const filesToCache = [;" />
    <WriteLinesToFile File="$(ServiceWorker)" Overwrite="false" 
      Lines="@(DistFiles -> '&quot;/%(RecursiveDir)%(FileName)%(Extension)&quot;'->Replace('\','/'),',%0D%0A');]%3B;" />
    <WriteLinesToFile File="$(ServiceWorker)" Overwrite="false" Lines="$(CacheLine)" />
    <WriteLinesToFile File="$(ServiceWorker)" Overwrite="false" Lines="@(TemplateLines);" />
    <!-- Add ServiceWorkerRegister.js to index.html -->
    <PropertyGroup>
      <IndexFile>$(MsBuildProjectDirectory)\wwwroot\index.html</IndexFile>
      <IndexLines>$([System.IO.File]::ReadAllText($(IndexFile)))</IndexLines>
    </PropertyGroup>
    <Message Importance="high" Text="Adding ServiceWorkerRegister.js to $(IndexFile)"
      Condition="'$(IndexLines.Contains(ServiceWorkerRegister.js))'=='false'"/>
    <WriteLinesToFile
      File="$(IndexFile)"
      Overwrite="true"
      Lines="$(IndexLines.Replace('&lt;/head&gt;','    &lt;script src=&quot;ServiceWorkerRegister.js&quot;&gt;&lt;/script&gt;%0D%0A&lt;/head&gt;'))"
      Condition="'$(IndexLines.Contains(ServiceWorkerRegister.js))'=='false'"/>
  </Target>
</Project>