<Project>
  <PropertyGroup>
    <ManifestFile>$(MSBuildProjectDirectory)\wwwroot\manifest.json</ManifestFile>
    <BaseUrl Condition="'$(BaseUrl)'==''">/</BaseUrl>
    <ManifestForce>true</ManifestForce>
  </PropertyGroup>
  <Target Name="CreateManifest" AfterTargets="AfterBuild" Condition="!Exists('$(ManifestFile)') Or '$(ManifestForce)'=='true'">
    <Message Importance="high" Text="Building Manifest $(ManifestFile)" Condition="!Exists('$(ManifestFile)')"/>
    <Message Importance="high" Text="Re-Building Manifest $(ManifestFile)" Condition="Exists('$(ManifestFile)')"/>
    <ItemGroup>
      <IconFiles Include="$(MSBuildProjectDirectory)\wwwroot\**\*icon*192*.*;">
        <Size>192x192</Size>
      </IconFiles>
      <IconFiles Include="$(MSBuildProjectDirectory)\wwwroot\**\*icon*512*.*;">
        <Size>512x512</Size>
      </IconFiles>
      <ManifestText Include="{
  &quot;short_name&quot;: &quot;$(SolutionName)&quot;,
  &quot;name&quot;: &quot;$(ProjectName)&quot;,
  &quot;start_url&quot;: &quot;$(BaseUrl)&quot;,
  &quot;display&quot;: &quot;standalone&quot;,
  "/>
      <ManifestText Include="%20%20&quot;icons&quot;: ["/>
      <ManifestText Include="@(IconFiles-> '    {
      &quot;src&quot;:&quot;/%(RecursiveDir)%(Filename)%(Extension)&quot;,
      &quot;type&quot;:&quot;image/%(Extension)&quot;,
      &quot;sizes&quot;:&quot;%(Size)&quot;
    }'->Replace('/.','/')->Replace('\','/'),',%0D%0A');%20%20];}"/>
    </ItemGroup>
    <WriteLinesToFile File="$(ManifestFile)" Overwrite="true" Lines="@(ManifestText);" />
    <!-- Add manifest to index.html -->
    <PropertyGroup>
      <IndexFile>$(MsBuildProjectDirectory)\wwwroot\index.html</IndexFile>
      <IndexLines>$([System.IO.File]::ReadAllText($(IndexFile)))</IndexLines>
    </PropertyGroup>
    <Message Importance="high" Text="Adding manifest to $(IndexFile)"
      Condition="'$(IndexLines.Contains(rel=&quot;manifest&quot;))'=='false'"/>
    <WriteLinesToFile 
      File="$(IndexFile)" 
      Overwrite="true" 
      Lines="$(IndexLines.Replace('&lt;/head&gt;','    &lt;link href=&quot;/manifest.json&quot; rel=&quot;manifest&quot;/&gt;%0D%0A&lt;/head&gt;'))"
      Condition="'$(IndexLines.Contains(rel=&quot;manifest&quot;))'=='false'"/>
  </Target>
</Project>