@* 
    A Boolean Valued Toggle button - that controls a value in AppState
*@
@inherits ComponentBase
<label>@Title: @value</label>
<button class="btn btn-primary" @onclick=ToggleValue>@Caption</button>

@code {
[Parameter] public string Title { get; set; }
[Parameter] public string Caption { get; set; }
[Parameter] public AppStateNames Name { get; set; }

[Inject] AppState appState { get; set; }

bool value;

protected override void OnInitialized()
{
    base.OnInitialized();
    appState.SetValue(Name, value);
}

void ToggleValue(MouseEventArgs a)
{
    value = !value;
    appState.SetValue(Name,value);
}
}
