@inherits LayoutComponentBase

<BlazorEvents.Comps.ComponentStyle>
    <div class="main">
        <div class="top-row px-4">
            <h3>Blazor Events - Action vs EventCallback</h3>
            <small class="m-1">V1.0</small>
            <a href="https://github.com/SQL-MisterMagoo/BlazorEventsDemo" target="_blank" class="ml-md-auto">Source</a>
        </div>
        <div class="row">
            <ul class="nav flex-row align-items-center">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Sample 1 - Balls 🏀</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="sample2">Sample 2 - Form 😪</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="sample3">Sample 3 - Form 😃</NavLink>
                </li>
            </ul>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</BlazorEvents.Comps.ComponentStyle>