@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <h3>Blazor Events - Action vs EventCallback</h3>
        <small class="m-1">V1.0</small>
        <a href="https://github.com/SQL-MisterMagoo/BlazorEventsDemo" target="_blank" class="ml-md-auto">Source</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
